[submodule "libs/xactor"]
	path = libs/xactor
	url = ../xactor.git
[submodule "libs/xstate"]
	path = libs/xstate
	url = ../xstate.git
[submodule "libs/pratt"]
	path = libs/pratt
	url = ../pratt.git
[submodule "libs/wasi"]
	path = libs/wasi
	url = ../wasi.git
[submodule "libs/trystero"]
	path = libs/trystero
	url = ../trystero.git
